*{
    padding: 0;
    margin: 0;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 13px 16px;
    background-color: #469165;
    border: 1px solid #469165;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: .33s;
}

.btn:hover{
    background-color: transparent;
    color: #469165;
}

.btn-white{
    padding: 13px 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: .33s;
    margin-left: 16px;
}

.btn-white:hover{
    background-color: #469165;
    border-color: #469165;
}

.navmenu{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 25px;
}

#banner{
    padding-top: 120px;
    padding-bottom: 120px;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner .banner-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.banner-shape{
    width: 50%;
    max-width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 6px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.banner-shape img{
    display: block;
    width: 16px;
    height: 16px;
}

.banner-shape p{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.banner-container h2{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.banner-txt{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
}

#service{
    padding-top: 100px;
    text-align: center;
}

#service .service-container{
    width: 85%;
    max-width: 1360;
    margin: 0 auto;
}

.service-title h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.service-title p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}

.service-content{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.service-card{
    width: 322px;
    padding: 65px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #0000000F;
}

.service-card img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F95555;
    padding: 14px;
    margin-bottom: 16px;
}

.service-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.service-card p{
    width: 274px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}